@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Satisfy&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  text-decoration: none;
  text-transform: capitilize;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  background: black;
  color: white;
}

html {
  font-size: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 8.5rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: white;
}

html::-webkit-scrollbar-thumb {
  background: green;
  border-radius: 5rem;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: .5rem 1.8rem;
  font-size: 1rem;
  cursor: pointer;
  background: rgba(42, 97, 49, 0.137);
  border-radius: .5rem;
}

.btn:hover {
  background: darkgreen;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  -webkit-box-shadow: 0 1rem 1rem rgba(42, 97, 49, 0.137);
          box-shadow: 0 1rem 1rem rgba(42, 97, 49, 0.137);
  margin-left: 0.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 9%;
}

.header .logo {
  width: 100px;
}

.header .logo i {
  padding-right: 0.5rem;
  color: green;
}

.header .evlogo {
  width: 120px;
}

.header .navbar a {
  font-size: 1.5rem;
  margin: 0 1rem;
  font-weight: bold;
  color: white;
}

.header .navbar a:hover {
  color: #004100;
}

.header .icons div {
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  font-size: 2rem;
  background: #008b00;
  color: white;
  border-radius: 0.5rem;
  margin-left: 0.3rem;
  cursor: pointer;
  text-align: center;
}

.header .icons div:hover {
  color: white;
  background: #004100;
}

#menu-btn {
  display: none;
}

.title {
  padding: 5rem 0 2rem 5rem;
}

.menu-cart-container {
  position: fixed;
  top: 11.5rem;
  left: 10rem;
  right: 10rem;
  height: calc(100vh - 8.5rem);
  z-index: 1000;
  overflow-y: scroll;
}

.menu-cart-container::-webkit-scrollbar {
  width: 1rem;
}

.menu-cart-container::-webkit-scrollbar-track {
  background: darkgreen;
}

.menu-cart-container::-webkit-scrollbar-thumb {
  background: green;
  border-radius: 5rem;
}

.menu-cart-container .title {
  font-size: 2.5rem;
  padding: 1rem;
  border-bottom: 0.15rem solid #004100;
  text-align: center;
}

.menu-cart-container .products-container {
  border: 0.15rem solid #004100;
  border-radius: 0.5rem;
}

.menu-cart-container .products-container .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  padding: 1.5rem;
}

.menu-cart-container .products-container .box-container .box {
  border-radius: 0.5rem;
  background: rgba(42, 97, 49, 0.137);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  padding: 2rem;
  position: relative;
}

.menu-cart-container .products-container .box-container .fa-times {
  position: absolute;
  top: 0.7rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.menu-cart-container .products-container .box-container .fa-times:hover {
  color: darkgreen;
}

.menu-cart-container .products-container .box-container img {
  height: 8rem;
  border-radius: 25px;
}

.menu-cart-container .products-container .box-container .content {
  background: rgba(42, 97, 49, 0);
}

.menu-cart-container .products-container .box-container .content h3 {
  font-size: 2rem;
  background: rgba(42, 97, 49, 0);
}

.menu-cart-container .products-container .box-container .content input {
  background: rgba(42, 97, 49, 0.1);
  width: 2.7rem;
  padding: .3rem;
  font-size: 1rem;
  margin: .5rem 0;
}

.menu-cart-container .products-container .box-container .content span {
  font-size: 1rem;
  background: rgba(42, 97, 49, 0);
}

.menu-cart-container .products-container .box-container .content span.price {
  color: #028102;
}

.menu-cart-container .cart-total {
  margin-top: 2rem;
  border: 0.15rem solid #004100;
  border-radius: .5rem;
}

.menu-cart-container .cart-total .box {
  padding: 1.5rem;
  margin-bottom: 2rem;
}

.menu-cart-container .cart-total .box h3 {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

.menu-cart-container .cart-total .box span {
  color: #028102;
}
/*# sourceMappingURL=style.css.map */